* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Serif JP", serif !important;
  overflow: hidden;
}
.top-bar {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 130px;
  background-color: #009688;
}
.bottom-bar {
  position: absolute;
  top: 130px;
  z-index: -1;
  width: 100%;
  height: 800px;
  background-color: #dadbd4;
}
.content-section {
  height: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
}
.white-page {
  width: 1400px;
  height: 680px;
  margin-top: 20px;
  background-color: #f8f9fa;
  box-shadow: 1px 1px 10px gray;
}
.display-section {
  width: 100%;
  height: 100%;
  display: flex;
}
.menu-section {
  padding: 0;
  margin: 0;
  width: 400px;
  height: 100%;
  background-color: #fff;
}
.display-chat {
  width: 70%;
  height: 100%;
  background-color: #fff;
}

@media screen and (max-width: 1440px) {
  .top-bar {
    display: none;
  }
  .white-page {
    width: 100%;
    margin-top: 0;
  }
}
